@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Global styles */
  body {
    @apply bg-black text-slate-100 font-sans leading-4;

    /* background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-libre font-bold text-slate-100;
    @apply pb-2;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply uppercase;
    @apply text-sm;
    @apply font-lato;
    @apply font-bold;
    @apply tracking-widest;
  }

  h4 {
    @apply uppercase;
    @apply text-xs;
    @apply font-lato;
    @apply font-bold;
    @apply tracking-widest;
  }

  p {
    @apply text-slate-200 font-light;
    @apply mb-4;
    @apply leading-8;
  }

  b {
    @apply font-bold;
  }

  a {
    @apply text-white font-bold hover:text-blue-700 transition-all;
  }
}
